:root {
    --primary: #330C2F;
    --secondary: #20C4D9;
}

@font-face {
    font-family: legothick;
    src: url(/assets/font/legothick.ttf);
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.blog-logo {
    font-family: legothick;
}

body {
    background-color: var(--primary);
    padding: 0 35px 0 35px;
}

body h2 {
    color: var(--secondary);
    font-weight: 400;
}
  
.index-carousel {
    display: flex;
    overflow: hidden;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary);
    max-width: 1000px;
    height: 400px;
}

.index-carousel-item img {
    object-fit: none;
    object-position: bottom;
    max-width: 1000px;
}

.carousel-container {
    position: relative;
}

.carousel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    color: var(--secondary);
    background-color: transparent;
    font-size: 5rem;
}

#carousel-prev-btn {
    position: absolute;
    top: 150px;
    left: 24px;
}

#carousel-next-btn {
    position: absolute;
    top: 150px;
    left: 460px;
}

.index-title {
    display: flex;
    justify-content: center;
    padding-top: 84px;
    color: var(--secondary);
    font-size: 4rem;
}

.index-posts {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.index-post-title {
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    max-width: 1000px;
    height: 50px;
    padding-left: 8px;
    font-weight: 900;
    margin-top: 8px;
}

.index-post-title img {
    display: none;
}


@media screen and (min-width: 768px) {
    .index-title {
        font-size: 12.5rem;
        margin: 0;
    }

    .index-posts {
        display: flex;
        column-gap: 24px;
    }

    .index-posts-posts {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .index-post-title {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 200px;
        padding-left: 0;
        font-weight: 900;
    }

    .index-post-title h3 {
       margin: 4px;
    }

    .index-post-title img {
        object-fit: cover;
        margin: 8px;
        width: 180px;
        height: 150px;
        display: block;
    }

    #carousel-next-btn {
        position: absolute;
        top: 150px;
        left: 915px;
      }
}