
@font-face {
    font-family: legothick;
    src: url(/assets/font/legothick.ttf);
}

:root {
    --primary: #330C2F;
    --secondary: #20C4D9;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.blog-logo {
    font-family: legothick;
}

body {
    background-color: var(--primary);
    padding: 0 35px 0 35px;
}

body h2 {
    color: var(--secondary);
    font-size: 4rem;
}
  
.index-carousel {
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary);
    max-width: 1100px;
    height: 400px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.index-carousel-item img {
    padding: 8px 0;
    height: 400px;
    width: 1100px;
    object-fit: contain;
}

.carousel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    border: none;
    cursor: pointer;
    color: var(--primary);
    background-color: transparent;
    font-size: 5rem;
}

#carousel-prev-btn {
    left: 10px;
}

#carousel-next-btn {
    right: 10px;
}

.index-title {
    display: flex;
    justify-content: center;
    padding-top: 84px;
    color: var(--secondary);
    font-size: 4rem;
}

.index-posts {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    cursor: pointer;
}

.index-posts h3 {
    padding: 0 8px 0 8px;
}

.index-post-title {
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    max-width: 1000px;
    height: 50px;
    font-weight: 900;
    margin-top: 8px;
    overflow: hidden;
}

.index-post-title img {
    display: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    color: var(--primary);
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
}

.pagination span {
    margin: 0 15px;
    color: var(--primary);
}

footer {
    display: flex;
    justify-content: center;
}

.footer-logo {
    font-family: legothick;
    color: var(--secondary);
    margin-top: 16px;
}

@media screen and (min-width: 768px) {
    .index-title {
        font-size: 12.5rem;
        margin: 0;
    }

    .index-posts {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 24px;
        max-width: 1100px;
    }

    .index-posts-title {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .index-post-title {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 350px;
        padding-left: 0;
        font-weight: 900;
        margin-top: 0;
    }

    .index-post-title h3 {
       text-align: center;
    }

    .index-post-title img {
        max-width: 100%; 
        object-fit: contain;
        padding: 8px;
        height: 250px;
        display: block;
    }

    .pagination button {
        font-size: 2rem;
    }
}