:root {
    --primary: #330C2F;
    --secondary: #20C4D9;
    --tertiary: #B7EBF6;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: var(--primary);
    height: 100vh;
    margin: 0 35px;
    color: var(--primary);
}

.blog-logo {
    font-family: legothick;
    color: var(--secondary);
    margin-top: 0;
    font-size: 1.5rem;
}

.post-title-container{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.post-title-container a {
    text-decoration: none;
}

.post-title {
    background-color: var(--secondary);
    width: 136px;
    height: 92px;
    font-weight: 700;
    padding: 8px;
}

.post-image {
    height: 250px;
    margin: 36px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--secondary);
    background-position: center;
    border: 16px solid var(--secondary);
}

.post-image img {
    height: 220px;
}

.post-author-tag {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.post-author-tag-date {
    background-color: var(--secondary);
    height: 64px;
    margin-top: 36px;
    padding: 8px;
}

.post-text {
    position: relative;
    background-color: var(--secondary);
    padding: 8px;
    white-space: pre-wrap;
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    body {
        margin: 0 70px;
    }

    .post-title {
        display: flex;
        align-items: center;
        width: 300px;
        font-size: 1.3rem;
    }

    .blog-logo {
        font-size: 5rem;
    }

    .post-text {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1100px) {
    .post-title {
        width: 600px;
        height: 160px;
        font-size: 2rem;
    }
}